@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');


html {

  scroll-behavior: smooth;

}


body {

  margin: 0;

  font-family: "Inter", sans-serif;

  background: #fafbf7;

}


* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}


a {

  text-decoration: none;

  color: inherit;

}


button {

  font-family: inherit;

}